.main-btn {
  display: block;
  width: 250px;
  background-color: #5a326a;
  border: 1px solid #5a326a;
  margin: 30px auto 0px;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 20px;
}
.main-btn:hover {
  text-decoration: none;
}

/* General Rules */
/* Colors Settings */
/* Font Settings */
/* Heading Margins */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Cairo", sans-serif;
}

h2 {
  font-size: 40px;
  color: #24c178;
}

a {
  color: #000;
}
a:hover {
  text-decoration: none;
}

img {
  width: 100%;
}

.heading-bold {
  font-weight: bold;
}

/* Start Loading Page */
.spinner-box {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #2c3f5c;
  z-index: 9999;
}
.spinner-box .spinner {
  width: 60px;
  height: 60px;
  position: relative;
  margin: 100px auto;
  top: 40%;
  left: 0;
  transform: translate(0, -50%);
}
.spinner-box .spinner .double-bounce1, .spinner-box .spinner .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #24c178;
  opacity: 0.6;
  position: absolute;
  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
}
.spinner-box .spinner .double-bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}
@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
/* End Loading Page */
/* Start Play Pulse */
@keyframes pulse {
  0% {
    transform: scale(0.5);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
  }
}
/* Start Search popup */
.popup {
  height: 100%;
  width: 100%;
  position: fixed;
  display: none;
  z-index: 9999;
  top: 0;
  left: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9);
  /* Black with a little bit see-through */
}
.popup .overlay-content {
  position: relative;
  top: 46%;
  width: 80%;
  text-align: center;
  margin-top: 30px;
  margin: auto;
}
.popup .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  cursor: pointer;
  color: white;
}
.popup .closebtn:hover {
  color: #ccc;
}
.popup input {
  padding: 15px;
  font-size: 17px;
  border: none;
  float: left;
  width: 90%;
  background: white;
}
.popup button {
  float: left;
  width: 10%;
  padding: 15px;
  background: #24c178;
  color: #fff;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

/* End Search popup */
/* Start Upper Navbar */
.upper {
  background-color: #2c3f5c;
  color: #fff;
  padding: 15px 0 0;
}
.upper .contacts .contact {
  display: inline-block;
  margin-right: 5px;
  padding: 0 8px;
  color: #fff;
}
.upper .contacts .contact:not(:last-of-type) {
  border-right: 2px solid #fff;
}
@media (max-width: 767px) {
  .upper .contacts .contact {
    margin-bottom: 10px;
    font-size: 13px;
  }
}
.upper .upper-social {
  text-align: right;
}
.upper .upper-social li {
  display: inline-block;
  margin-left: 10px;
}
.upper .upper-social li a {
  color: #2c3f5c;
  background-color: #fff;
  padding: 5px;
  border-radius: 50%;
}
.upper .upper-social li a.fa-search {
  color: #fff;
  background: none;
}
@media (max-width: 767px) {
  .upper .upper-social {
    margin-top: 10px;
    text-align: center;
  }
}
.upper form {
  width: 100%;
  margin: 0 20px;
  display: none;
}
.upper form input {
  background: transparent;
  color: #fff;
  border: none;
  border-bottom: 1px solid #0d1928;
  margin-bottom: 10px;
  border-radius: 0;
}

/* End Upper Navbar */
/* Start Navbar Section */
nav {
  padding: 10px 0;
  overflow: hidden;
}
nav .logo {
  font-size: 40px;
  float: left;
  width: 40%;
}
nav .logo a {
  color: #24c178;
}
nav .links {
  float: left;
  padding-top: 20px;
  display: none;
}
nav .links li {
  display: inline-block;
  margin-right: 20px;
}
nav .links li a {
  color: #fff;
}
nav .links .fa-times {
  display: none;
}
nav i {
  cursor: pointer;
  float: right;
  margin-right: 30px;
  margin-top: 20px;
  font-size: 20px;
}
@media (max-width: 767px) {
  nav .links-open {
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    background-color: #2c3f5c;
    color: #fff;
    width: 100%;
    height: 100%;
    z-index: 99;
  }
  nav .links-open li {
    display: block;
    text-align: center;
    margin-bottom: 30px;
  }
  nav .links-open li:first-of-type {
    margin-top: 30px;
  }
  nav .links-open i.fa-times {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }
}

/* End Navbar Section */
/* Start header Section */
header {
  background-image: url("../images/header.jpg");
  background-size: cover;
}
header .overlay {
  background-image: linear-gradient(to right, rgba(5, 14, 25, 0.9), rgba(22, 35, 54, 0.9));
  background-size: cover;
  color: #fff;
  padding: 80px 0;
}
header .overlay .header-content {
  padding: 80px 0 115px;
}
header .overlay .header-content h1 {
  font-size: 60px;
  margin-bottom: 20px;
  line-height: 1.4;
}
header .overlay .header-content p {
  font-size: 30px;
}
header .overlay .header-content a {
  display: inline-block;
  background-color: #24c178;
  padding: 8px 20px;
  color: #fff;
  border-radius: 2px;
}
header .overlay .header-content a i {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #fff;
  color: #24c178;
  border-radius: 50%;
  font-size: 14px;
  margin-right: 5px;
}
@media (max-width: 767px) {
  header .overlay .header-content h1 {
    font-size: 50px;
  }
}

/* End header Section */
/* Start Benefits Section */
.benefits {
  background-color: #24c178;
}
.benefits .serve-boxes .ser-box {
  position: relative;
  top: -50px;
  background-color: #fff;
  border-radius: 10px;
  border-bottom: 8px solid #24c178;
  padding: 15px 25px;
  overflow: hidden;
  z-index: 5;
}
.benefits .serve-boxes .ser-box .overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #24c178;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: scaleY(0);
  transition: all 0.5s ease-in-out;
}
.benefits .serve-boxes .ser-box h3 {
  display: inline-block;
  margin-left: 10px;
  font-size: 25px;
  color: #333;
}
.benefits .serve-boxes .ser-box img {
  width: 60px;
  max-width: 60px;
}
.benefits .serve-boxes .ser-box p {
  font-size: 14px;
  color: #999 !important;
  line-height: 1.8;
}
.benefits .serve-boxes .ser-box a {
  color: #24c178;
}
.benefits .serve-boxes .ser-box.one {
  border-bottom: 8px solid #c0392b;
}
.benefits .serve-boxes .ser-box.one:hover .overlay {
  background: #c0392b;
  transform: scaleY(1);
}
.benefits .serve-boxes .ser-box.one:hover h3, .benefits .serve-boxes .ser-box.one:hover a, .benefits .serve-boxes .ser-box.one:hover p {
  color: #fff !important;
}
.benefits .serve-boxes .ser-box.one a {
  color: #c0392b;
}
.benefits .serve-boxes .ser-box.two {
  border-bottom: 8px solid #2980b9;
}
.benefits .serve-boxes .ser-box.two a {
  color: #2980b9;
}
.benefits .serve-boxes .ser-box.two:hover .overlay {
  background: #2980b9;
  transform: scaleY(1);
}
.benefits .serve-boxes .ser-box.two:hover h3, .benefits .serve-boxes .ser-box.two:hover a, .benefits .serve-boxes .ser-box.two:hover p {
  color: #fff !important;
}
.benefits .serve-boxes .ser-box.three {
  border-bottom: 8px solid #d35400;
}
.benefits .serve-boxes .ser-box.three a {
  color: #d35400;
}
.benefits .serve-boxes .ser-box.three:hover .overlay {
  background: #d35400;
  transform: scaleY(1);
}
.benefits .serve-boxes .ser-box.three:hover h3, .benefits .serve-boxes .ser-box.three:hover a, .benefits .serve-boxes .ser-box.three:hover p {
  color: #fff !important;
}
@media (max-width: 767px) {
  .benefits .serve-boxes .ser-box {
    margin-bottom: 25px;
  }
}
.benefits .media {
  color: #fff;
  margin-bottom: 40px;
}
.benefits .media i {
  font-size: 50px;
  margin-right: 20px;
  margin-top: -10px;
}

/* End Benefits Section */
/* Start Why Section */
.why {
  padding: 50px 0;
}
.why h3 {
  margin-bottom: 30px;
  font-size: 33px;
}
.why .why-img {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  margin-right: 20px;
}
.why .why-img a {
  width: 50px;
  height: 50px;
  text-align: center;
  background-color: #24c178;
  color: #fff;
  line-height: 50px;
  border-radius: 50%;
  padding-left: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 11px;
}
.why .why-img a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  display: block;
  border-radius: 50%;
  border: 3px solid #fff;
  z-index: 0;
  animation: pulse 1500ms ease-in-out infinite;
  transition: all 0.5s ease-in-out;
  opacity: 0;
}
.why .why-img img {
  width: 100%;
}
.why .why-content p {
  color: #999;
  line-height: 1.9;
  font-size: 18px;
}
.why .why-content a {
  display: inline-block;
  border: 1px solid #000;
  padding: 8px 30px;
  font-size: 14px;
  transition: all 0.5s ease-in-out;
}
.why .why-content a:hover {
  background-color: #000;
  color: #fff;
}
@media (max-width: 767px) {
  .why .why-img {
    margin-bottom: 25px;
  }
}

/* End Why Section */
/* Start Our Techno Section */
.our-why {
  padding: 50px 0;
  background-color: #f5f5f5;
}
.our-why h3 {
  margin-bottom: 30px;
  font-size: 33px;
}
.our-why .tecno-box {
  border: 1px solid #f9f9f9;
  margin: 0 20px;
  border-bottom: 5px solid #2980b9;
}
.our-why .tecno-box h3 {
  background-color: #2980b9;
  color: #fff;
  padding: 10px 0;
  margin-bottom: 0;
  font-size: 23px;
}
.our-why .tecno-box p {
  color: #999;
  line-height: 1.8;
  padding: 15px;
}
.our-why .tecno-box .tecno-img {
  position: relative;
}
.our-why .tecno-box .tecno-img a {
  width: 50px;
  height: 50px;
  text-align: center;
  background-color: #2980b9;
  color: #fff;
  line-height: 50px;
  border-radius: 50%;
  padding-left: 5px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%);
  font-size: 11px;
}
.our-why .tecno-box.one {
  border-bottom: 5px solid #d35400;
}
.our-why .tecno-box.one h3, .our-why .tecno-box.one a {
  background-color: #d35400;
}
.our-why .tecno-box.two h3, .our-why .tecno-box.two a {
  background-color: #2980b9;
}
.our-why .tecno-box.three {
  border-bottom: 5px solid #c0392b;
}
.our-why .tecno-box.three h3, .our-why .tecno-box.three a {
  background-color: #c0392b;
}
@media (max-width: 767px) {
  .our-why .tecno-box {
    margin-bottom: 25px;
  }
}

/* End Our Techno Section */
/* Start Steps Section */
.steps {
  background-color: #24c178;
  color: #fff;
}
.steps h3 {
  padding-top: 30px;
  margin-bottom: 30px;
  font-size: 33px;
}
.steps .media {
  color: #fff;
  margin-bottom: 40px;
}
.steps .media i {
  font-size: 50px;
  margin-right: 20px;
  margin-top: -10px;
}
.steps .steps-contacts {
  border: 1px solid #fff;
  display: inline-block;
  border-radius: 30px;
}
.steps .steps-contacts a {
  color: #fff;
  display: inline-block;
  padding: 7px 20px;
  border-radius: 30px;
}
.steps .steps-contacts a:first-of-type {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.steps .steps-contacts a:last-of-type {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #24c178;
  color: #fff;
}
.steps .steps-contacts a.active {
  background-color: #fff;
  color: #24c178;
}
.steps .contact-inputs {
  margin-top: 20px;
}
.steps .contact-inputs input {
  border-radius: 20px;
  margin-bottom: 5px;
}
.steps .contact-inputs .email {
  display: none;
}
.steps .steps-mail {
  background-color: #fff;
  display: block;
  margin-top: 40px;
  border-radius: 30px;
  padding: 14px 0;
}
.steps .steps-mail span {
  display: inline-block;
  color: #24c178;
}
.steps .steps-mail i {
  color: #fff;
  background-color: #24c178;
  width: 35px;
  height: 35px;
  border-radius: 10px;
  line-height: 35px;
  font-size: 13px;
  margin-left: 30px;
}
@media (max-width: 767px) {
  .steps .steps-mail {
    margin-bottom: 35px;
  }
}

/* End Steps Section */
/* Start Insta Gallary Section */
.gallary {
  padding: 50px 0;
}
.gallary h3 {
  margin-bottom: 30px;
  font-size: 33px;
}
.gallary p {
  color: #999;
  line-height: 1.8;
}
.gallary a {
  background-image: linear-gradient(to right, #f00, #00f);
  color: #fff;
  float: right;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 80px;
}
.gallary a i {
  margin-right: 3px;
}
.gallary .slides {
  position: relative;
}
.gallary .slides .slider {
  margin-bottom: 20px;
}
.gallary .slides .slider img {
  margin: 5px;
}
.gallary .controls i {
  position: absolute;
  top: 40%;
  background: #333;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  color: #fff;
  font-size: 15px;
  text-align: center;
  line-height: 40px;
}
.gallary .controls .fa-chevron-right {
  right: 0;
}
@media (max-width: 767px) {
  .gallary a {
    margin-top: 0;
    margin-bottom: 35px;
  }
  .gallary .controls {
    display: none;
  }
}

/* End Insta Gallary Section */
/* Start Follow Section */
.follow {
  background-color: #013340;
  color: #fff;
  padding: 40px 0;
}
.follow h3 {
  margin: 0;
  font-size: 33px;
}
@media (max-width: 767px) {
  .follow h3 {
    margin-bottom: 30px;
    text-align: center;
  }
}
.follow a {
  display: inline-block;
  width: 145px;
}

/* End Follow Section */
/*Start Testimonials Section */
.testi {
  padding: 50px 0;
  background-color: #f5f5f5;
}
.testi h3 {
  font-size: 33px;
  margin-bottom: 30px;
}
.testi p {
  color: #999;
  line-height: 1.8;
}
.testi .testi-boxes {
  margin: 40px 0;
}
.testi .testi-boxes .testi-box {
  background-color: #fff;
  box-shadow: 1px 1px 1px 1px #eee;
  padding: 20px;
  border-radius: 4px;
  position: relative;
  margin: 0 10px;
  margin-bottom: 90px;
}
.testi .testi-boxes .testi-box i {
  color: #080;
  font-size: 30px;
  margin-bottom: 30px;
}
.testi .testi-boxes .testi-box .rates i {
  color: #fbc531;
  font-size: 15px;
}
.testi .testi-boxes .testi-box .client-info {
  position: absolute;
  bottom: -30%;
  left: 8%;
}
.testi .testi-boxes .testi-box .client-info img {
  width: 80px;
  margin-bottom: 20px;
}
.testi .testi-boxes .testi-box .client-info h4 {
  font-size: 18px;
}
@media (max-width: 767px) {
  .testi .testi-boxes .testi-box {
    margin-bottom: 120px;
  }
  .testi .testi-boxes .client-info {
    bottom: -27% !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .testi .testi-boxes .client-info {
    bottom: -22% !important;
  }
}

/*End Testimonials Section */
/* Start Youtube Section */
.youtube {
  padding: 50px 0;
}
.youtube h3 {
  margin-bottom: 30px;
  font-size: 33px;
}
.youtube p {
  color: #999;
  line-height: 1.8;
}
.youtube a {
  background-color: #f00;
  color: #fff;
  float: right;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 80px;
}
.youtube a i {
  margin-right: 3px;
}
.youtube .slides {
  position: relative;
  overflow: hidden;
}
.youtube .slides .sliding {
  margin-bottom: 20px;
  overflow: hidden;
}
.youtube .slides .sliding .slide-img {
  position: relative;
  margin: 10px;
  border-radius: 5px;
}
.youtube .slides .sliding .slide-img a {
  width: 50px;
  height: 50px;
  text-align: center;
  background-color: #24c178;
  color: #fff;
  line-height: 31px;
  border-radius: 50%;
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translate(-50%);
  font-size: 11px;
}
.youtube .slides .controls i {
  position: absolute;
  top: 45%;
  background: #333;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: #fff;
  font-size: 15px;
  text-align: center;
  line-height: 50px;
}
.youtube .slides .controls .fa-chevron-right {
  right: 0;
}
@media (max-width: 767px) {
  .youtube a {
    margin-top: 0;
    margin-bottom: 35px;
    top: 30% !important;
  }
  .youtube .controls {
    display: none;
  }
}

/* End Youtube Section */
/* Start Contact Us Section */
.contact-us {
  padding: 50px 0;
  background-color: #eee;
}
.contact-us h3 {
  margin-bottom: 30px;
  font-size: 33px;
}
.contact-us .contact form {
  background-color: #fff;
  padding: 30px;
}
.contact-us .contact form label {
  color: #999;
}
.contact-us .contact form input {
  border: none;
  background-color: #eee;
}
.contact-us .contact form .form-group {
  margin-bottom: 30px;
}
.contact-us .contact form .form-check {
  display: inline-block;
}
.contact-us .contact form button {
  display: block;
  margin-top: 30px;
  width: 100%;
  background-color: #24c178;
  border: 1px solid #24c178;
}
.contact-us .faq .accordion .card {
  border-bottom: 2px solid #24c178;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 10px;
}
.contact-us .faq .accordion .card .card-header {
  position: relative;
  background-color: #fff;
  border-bottom: none;
}
.contact-us .faq .accordion .card .card-header .btn-link {
  color: #24c178;
}
.contact-us .faq .accordion .card .card-header .btn-link h3 {
  display: inline-block;
  margin: 0;
  font-size: 21px;
  font-weight: normal;
}
.contact-us .faq .accordion .card .card-header .btn-link i {
  text-align: right;
  position: absolute;
  right: 20px;
  font-size: 20px;
}
@media (max-width: 767px) {
  .contact-us .faq .accordion .card .card-header .btn-link h3 {
    font-size: 17px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .contact-us .faq .accordion .card .card-header .btn-link h3 {
    font-size: 18px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .contact-us .faq .accordion .card .card-header .btn-link h3 {
    font-size: 22px;
  }
}
@media (max-width: 767px) {
  .contact-us .contact {
    margin-bottom: 30px;
  }
}

/* End Contact Us Section */
/* Start Latest News Section */
.news {
  padding: 50px 0;
}
.news .new-card {
  margin: 30px 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
  border: 1px solid #f5f5f5;
  overflow: hidden;
  display: block;
}
.news .new-card:hover h4 {
  color: #24c178;
}
.news .new-card h4 {
  margin: 20px 0;
  padding: 0 20px;
}
.news .new-card p {
  padding: 0 20px;
  color: #999;
  line-height: 1.8;
  padding-bottom: 20px;
}
@media (max-width: 767px) {
  .news .new-card {
    margin-bottom: 30px;
  }
}

/* End Latest News Section */
/* Start Info Section */
.info {
  background-color: #24c178;
  padding: 30px 0;
}
.info .media {
  color: #fff;
}
.info .media i {
  font-size: 30px;
  margin-right: 20px;
  margin-top: 0px;
  padding: 10px;
  border: 1px solid #fff;
}
@media (max-width: 767px) {
  .info .media {
    margin-bottom: 30px;
  }
}

/* End Info Section */
/* Start Header Section */
header .overlay {
  padding: 0;
}

/* End Header Section */
/* Start Why Section */
.why h3 {
  margin-bottom: 45px;
}
.why .why-content .why-info {
  margin-bottom: 25px;
  overflow: hidden;
}
.why .why-content .why-info .info-icon {
  font-size: 35px;
  float: left;
  width: 10%;
  margin-right: 2%;
}
.why .why-content .why-info .info-content {
  float: left;
  width: 88%;
  color: #696868;
  font-size: 17px;
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .why .why-content .why-info .info-icon {
    font-size: 23px;
    margin-top: 10px;
  }
}

/* End Why Section */
.contact-head {
  background-image: none;
}
.contact-head .overlay {
  background-color: #084571;
  background-image: none;
}

/* Start Contact Us Page */
.contact-page {
  background-image: url("../images/header.jpg");
  background-size: cover;
  background-position: center;
}
.contact-page .overlay {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 50px;
}
.contact-page .overlay .contact-info {
  background-color: #fff;
  padding: 40px;
  border-radius: 20px;
}
.contact-page .overlay .contact-info .details {
  margin-bottom: 30px;
}
.contact-page .overlay .contact-info .details h3 {
  font-size: 32px;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 30px;
}
.contact-page .overlay .contact-info .details h3:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #18517a;
  width: 230px;
  height: 2px;
}
.contact-page .overlay .contact-info .details p {
  line-height: 1.8;
}
.contact-page .overlay .contact-info .details p:last-of-type {
  font-weight: 500;
  color: #333;
}
.contact-page .overlay .contact-info .details ul li {
  display: inline-block;
  margin-right: 10px;
}
.contact-page .overlay .contact-info .details ul li a {
  font-size: 35px;
  color: #2a3f5a;
}
@media (max-width: 767px) {
  .contact-page .overlay .contact-info .details h3 {
    font-size: 22px;
  }
  .contact-page .overlay .contact-info .details h3:after {
    content: "";
    width: 100px;
  }
  .contact-page .overlay .contact-info .details p {
    font-size: 14px;
  }
  .contact-page .overlay .contact-info .details ul li a {
    font-size: 30px;
  }
}
.contact-page .overlay .contact-info .media {
  margin-bottom: 20px;
}
.contact-page .overlay .contact-info .media i {
  font-size: 30px;
  margin-right: 20px;
  margin-top: 0px;
  padding: 10px;
  border: 1px solid #fff;
  background-color: #2a3f5a;
  color: #fff;
  border-radius: 5px;
}
.contact-page .overlay .contact-info .media .media-body {
  color: #2a3f5a;
  margin-top: 10px;
  word-wrap: break-word;
}
.contact-page .overlay .contact-info .media .media-body h5 {
  font-size: 19px;
}
.contact-page .overlay .contact-info .media .media-body p {
  margin-bottom: 5px;
}
@media (max-width: 767px) {
  .contact-page .overlay .contact-info .media i {
    font-size: 20px;
    margin-top: 10px;
  }
  .contact-page .overlay .contact-info .media .media-body h5 {
    font-size: 17px;
  }
  .contact-page .overlay .contact-info .media .media-body p {
    font-size: 14px;
  }
}
.contact-page .overlay .contact-info form input, .contact-page .overlay .contact-info form textarea {
  border: 1px solid #2a3f5a;
  margin-bottom: 10px;
}
.contact-page .overlay .contact-info form input.send {
  display: block;
  background-color: #2a3f5a;
  color: #fff;
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border-radius: 3px;
}
@media (max-width: 767px) {
  .contact-page .overlay {
    padding: 30px 10px;
  }
}

/* End Contact Us Page */
/* Edit Navbar */
/* Start Blogs Page */
/********************* Edit  Header **********************/
header .overlay .blog-header {
  padding: 20px;
}

/********************* Most Viwe  **********************/
.blog-most-view {
  padding: 50px 0;
}
.blog-most-view .blog-card {
  position: relative;
  margin-bottom: 20px;
}
.blog-most-view .blog-card .card-over {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.blog-most-view .blog-card .card-over p {
  position: absolute;
  bottom: -16px;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}
@media (max-width: 767px) {
  .blog-most-view .blog-card .card-over p {
    max-height: 63px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.blog-most-view .blog-card .main {
  background-color: rgba(36, 193, 120, 0.6);
}

/********************* Blog Articles  **********************/
.blogs .blog-arts {
  margin-right: 20px;
}
.blogs .blog-arts .art {
  border-top: 3px solid #24c178;
  border-bottom: 3px solid #2c3f5c;
  padding: 10px 15px;
  margin-bottom: 20px;
}
.blogs .blog-arts .art h3 {
  margin-bottom: 25px;
}
.blogs .blog-arts .art .post {
  background-color: #f9f9f9;
  margin-bottom: 20px;
}
.blogs .blog-arts .art .post h6, .blogs .blog-arts .art .post p {
  padding: 10px;
}
.blogs .blog-arts .art .post h6 {
  font-weight: bold;
  color: #666;
  margin-top: 15px;
  margin-bottom: 0;
}
.blogs .blog-arts .art .post p {
  color: #AAA;
  line-height: 1.8;
}
.blogs .blog-arts .art .media {
  overflow: hidden;
  margin-bottom: 22px;
}
.blogs .blog-arts .art .media img {
  margin-right: 1%;
  width: 50%;
}
.blogs .blog-arts .art .media .media-body {
  margin-left: 10px;
}
.blogs .blog-arts .art .media .media-body h5 {
  font-size: 16px;
  color: #000;
  line-height: 1.8;
}
.blogs .blog-arts .art .media .media-body p {
  color: #fff;
  font-size: 14px;
}
.blogs .blog-arts .art .posts {
  position: relative;
}
.blogs .blog-arts .art .posts .post {
  margin: 0 10px 50px;
}
.blogs .blog-arts .art .posts .slick-dots {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
.blogs .blog-arts .art .posts .slick-dots li {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #000;
  background-color: #000;
  margin-right: 5px;
  cursor: pointer;
}
.blogs .blog-arts .art .posts .slick-dots li button {
  display: none;
}
.blogs .blog-arts .art .posts .slick-dots .slick-active {
  background-color: #24c178;
  border: 1px solid #24c178;
}
.blogs .blog-trends .art {
  border-top: 3px solid #24c178;
  border-bottom: 3px solid #2c3f5c;
  padding: 10px 15px;
  margin-bottom: 20px;
}
.blogs .blog-trends .art h3 {
  margin-bottom: 25px;
}
.blogs .blog-trends .art .col-md-4 {
  padding-left: 5px;
  padding-right: 5px;
}
.blogs .blog-trends .art .col-md-4 .post {
  color: #fff;
  margin-bottom: 20px;
}
.blogs .blog-trends .art .col-md-4 .post i {
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 15px;
}
.blogs .blog-trends .art .col-md-4 .post h6 {
  font-size: 14px;
  margin-top: 16px;
  padding: 10px;
}
.blogs .blog-trends .art .col-md-4 .facebook {
  background-color: #3b5998;
}
.blogs .blog-trends .art .col-md-4 .twitter {
  background-color: #1da1f2;
}
.blogs .blog-trends .art .col-md-4 .pinterest {
  background-color: #e32229;
}
.blogs .blog-trends .art .col-md-4 .google {
  background-color: #dd4b39;
}
.blogs .blog-trends .art .col-md-4 .instagram {
  background-color: #5e93be;
}
.blogs .blog-trends .art .col-md-4 .you {
  background-color: #eb1a21;
}
.blogs .blog-trends .media {
  overflow: hidden;
  margin-bottom: 22px;
}
.blogs .blog-trends .media img {
  margin-right: 1%;
  width: 50%;
}
.blogs .blog-trends .media .media-body {
  margin-left: 10px;
}
.blogs .blog-trends .media .media-body h5 {
  font-size: 16px;
  color: #000;
  line-height: 1.8;
}
.blogs .blog-trends .media .media-body p {
  color: #fff;
  font-size: 14px;
}
.blogs .famous {
  margin-bottom: 20px;
}
.blogs .famous img {
  width: 100%;
  height: 100%;
}
.blogs .post p {
  font-size: 14px;
  color: #999;
  line-height: 1.8;
}

/* End Blogs Page */
/* Start Posts Page */
.blogs {
  padding: 50px 0;
}
.blogs .blog-arts .post ul li {
  display: inline-block;
  background-color: transparent;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin-right: 5px;
  cursor: pointer;
}
.blogs .blog-arts .post ul li:nth-of-type(2) {
  background-color: #3b5998;
  border: 1px solid #3b5998;
}
.blogs .blog-arts .post ul li:nth-of-type(2) a, .blogs .blog-arts .post ul li:nth-of-type(2) i {
  color: #fff;
}
.blogs .blog-arts .post ul li:nth-of-type(3) {
  background-color: #1da1f2;
  border: 1px solid #1da1f2;
}
.blogs .blog-arts .post ul li:nth-of-type(3) a, .blogs .blog-arts .post ul li:nth-of-type(3) i {
  color: #fff;
}
.blogs .blog-arts .post ul li:nth-of-type(4) {
  background-color: #dd4b39;
  border: 1px solid #dd4b39;
}
.blogs .blog-arts .post ul li:nth-of-type(4) a, .blogs .blog-arts .post ul li:nth-of-type(4) i {
  color: #fff;
}
.blogs .blog-arts .post ul li:nth-of-type(5) {
  background-color: #ff4500;
  border: 1px solid #ff4500;
}
.blogs .blog-arts .post ul li:nth-of-type(5) a, .blogs .blog-arts .post ul li:nth-of-type(5) i {
  color: #fff;
}
@media (max-width: 767px) {
  .blogs .blog-arts .post ul li {
    text-align: center;
    margin-bottom: 10px;
  }
}
.blogs .blog-arts .art form input, .blogs .blog-arts .art form textarea {
  margin-bottom: 20px;
}
.blogs .blog-arts .art form [type=submit] {
  display: block;
  background-color: #033b4a;
  border: 1px solid #033b4a;
  padding: 13px 30px;
  color: #fff;
}
@media (max-width: 767px) {
  .blogs .blog-arts .art form [type=submit] {
    margin-top: 20px;
  }
}
.blogs .blog-trends .art .blog-form label {
  display: block;
  color: #7b7b7b;
}
.blogs .blog-trends .art .blog-form input {
  margin-bottom: 10px;
  background-color: #f6f6f6;
  border: none;
}
.blogs .blog-trends .art .blog-form [type=radio] + label {
  display: inline-block;
  margin-right: 5px;
}
.blogs .blog-trends .media i {
  color: #fff;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  border-radius: 50%;
  font-size: 25px;
  margin-right: 15px;
}
.blogs .blog-trends .media .media-body p {
  color: #000;
}
.blogs .blog-trends .media:nth-of-type(1) i {
  border: 1px solid #8bc24a;
  background-color: #8bc24a;
}
.blogs .blog-trends .media:nth-of-type(2) i {
  border: 1px solid #15a879;
  background-color: #15a879;
}
.blogs .blog-trends .media:nth-of-type(3) i {
  border: 1px solid #349603;
  background-color: #349603;
}

/* End Posts Page */
/* Start Articles Page */
.arts-header {
  padding: 50px 0;
  background-color: #24c178;
}
.arts-header .head-content h3 {
  line-height: 1.8;
  font-weight: 600;
  font-size: 37px;
}
.arts-header .head-content p {
  color: #222;
}
.arts-header .head-content form {
  width: 67%;
}
.arts-header .head-content form .col-auto {
  border: 1px solid #24c178;
  padding: 0;
}
.arts-header .head-content form .col-auto .input-group-text {
  background: #fff;
  border: none;
  color: #24c178;
}
@media (max-width: 767px) {
  .arts-header .head-content h3 {
    font-size: 21px;
  }
  .arts-header .head-content form {
    width: 100%;
  }
}

/******************************       Articles          ****************************/
.articles {
  padding: 30px 0;
}
.articles h3 {
  letter-spacing: 1px;
  color: #333;
}
.articles button {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  background-color: #24c178;
  border: 1px solid #24c178;
  color: #fff;
  cursor: pointer;
}
.articles button i {
  font-size: 21px;
  margin-right: 4px;
}
.articles .article {
  display: block;
  margin-top: 20px;
  background-color: #fff;
}
.articles .article i {
  background-color: #24c178;
  color: #fff;
  padding: 15px;
  margin-right: 2%;
  font-size: 32px;
  width: 5.5%;
  float: left;
}
.articles .article span {
  font-size: 18px;
  color: #333;
  display: block;
  float: left;
  width: 92.5%;
  line-height: 1.8;
  margin-top: 10px;
}
.articles .pages {
  margin-top: 20px;
}
.articles .pages .pagination {
  display: block;
}
.articles .pages .pagination li {
  margin-right: 10px;
  display: inline-block;
}
.articles .pages .pagination li a {
  color: #000;
  padding: 10px 15px;
  border-radius: 2px;
}
.articles .pages .pagination li a:hover {
  background-color: #24c178;
  color: #fff;
}
.articles .pages .pagination .selected a {
  background-color: #24c178;
  color: #fff;
}
@media (max-width: 767px) {
  .articles h3 {
    font-size: 24px;
    line-height: 1.8;
  }
  .articles .article i {
    width: 17%;
    margin-right: 5%;
  }
  .articles .article span {
    width: 76%;
    font-size: 16px;
    margin-top: 0;
  }
}

/******************************       Experts          ****************************/
.experts {
  padding: 50px 0;
  background-color: #f4f4f4;
}
.experts h3 {
  margin-bottom: 30px;
}
.experts .exp-slides .post {
  margin: 10px;
  background-color: #fff;
}
.experts .exp-slides .post p {
  padding: 10px;
}
.experts .exp-slides .post:hover p {
  color: #24c178;
}

/* End Articles Page */
/* Start Article Section */
.article-view {
  padding: 50px 0;
}
.article-view .art {
  border-top: 3px solid #24c178;
  border-bottom: 3px solid #2c3f5c;
  padding: 10px 15px;
  margin-bottom: 20px;
}
.article-view .art h3 {
  margin-bottom: 25px;
}
.article-view .art .article {
  display: block;
  margin-top: 20px;
  background-color: #fff;
  overflow: hidden;
}
.article-view .art .article i {
  background-color: #24c178;
  color: #fff;
  padding: 15px;
  margin-right: 2%;
  font-size: 32px;
  width: 8%;
  float: left;
}
.article-view .art .article span {
  font-size: 18px;
  color: #333;
  display: block;
  float: left;
  width: 90%;
  line-height: 1.8;
}
@media (max-width: 767px) {
  .article-view .art .article i {
    width: 21%;
    margin-right: 3%;
  }
  .article-view .art .article span {
    width: 76%;
    font-size: 16px;
  }
}
.article-view .art .art-details {
  display: inline-block;
  margin: 20px 0;
  margin-right: 20px;
  color: #24c178;
}
.article-view .art .art-details i {
  margin-right: 10px;
}
.article-view .art .post .art-details {
  display: block;
  text-align: right;
}
.article-view .art .post p {
  font-weight: bold;
  line-height: 1.8;
}
.article-view .art:nth-of-type(2) {
  border-top: 1px solid #24c178;
}
.article-view .experts {
  background: none;
  padding: 20px 0;
}
.article-view .experts .article {
  display: block;
  margin-top: 20px;
  background-color: #fff;
  overflow: hidden;
}
.article-view .experts .article i {
  background-color: #24c178;
  color: #fff;
  padding: 15px;
  margin-right: 2%;
  font-size: 32px;
  width: 8%;
  float: left;
}
.article-view .experts .article span {
  font-size: 18px;
  color: #333;
  display: block;
  float: left;
  width: 90%;
  line-height: 1.8;
}
@media (max-width: 767px) {
  .article-view .experts .article i {
    width: 21%;
    margin-right: 3%;
  }
  .article-view .experts .article span {
    width: 76%;
    font-size: 16px;
  }
}
.article-view .article-trends button {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  background-color: #24c178;
  border: 1px solid #24c178;
  color: #fff;
  margin-bottom: 20px;
  cursor: pointer;
}
.article-view .article-trends button i {
  font-size: 21px;
  margin-right: 4px;
}
.article-view .article-trends .experts h3 {
  font-size: 24px;
}
.article-view .article-trends .experts .article i {
  width: 17%;
  margin-right: 3%;
}
.article-view .article-trends .experts .article span {
  width: 80%;
  font-size: 16px;
}
@media (max-width: 767px) {
  .article-view .article-trends .experts .article i {
    width: 21%;
    margin-right: 3%;
  }
  .article-view .article-trends .experts .article span {
    width: 76%;
    font-size: 16px;
  }
}
.article-view .article-trends .art {
  border-top: 3px solid #24c178;
}
.article-view .article-trends .art .blog-form label {
  display: block;
  color: #7b7b7b;
}
.article-view .article-trends .art .blog-form input {
  margin-bottom: 10px;
  background-color: #f6f6f6;
  border: none;
}
.article-view .article-trends .art .blog-form [type=radio] + label {
  display: inline-block;
  margin-right: 5px;
}
.article-view .article-trends .art .media i {
  color: #fff;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  border-radius: 50%;
  font-size: 25px;
  margin-right: 15px;
}
.article-view .article-trends .art .media .media-body p {
  color: #000;
}
.article-view .article-trends .art .media:nth-of-type(1) i {
  border: 1px solid #8bc24a;
  background-color: #8bc24a;
}
.article-view .article-trends .art .media:nth-of-type(2) i {
  border: 1px solid #15a879;
  background-color: #15a879;
}
.article-view .article-trends .art .media:nth-of-type(3) i {
  border: 1px solid #349603;
  background-color: #349603;
}

/* End Article Section */
/* Start Footer Section */
footer {
  background-image: url("../images/header.jpg");
  background-size: cover;
}
footer .overlay {
  background-color: rgba(1, 51, 64, 0.9);
  color: #fff;
  padding: 50px 0;
}
footer .overlay h4 {
  font-size: 22px;
  margin-bottom: 25px;
}
footer .overlay p {
  color: #999;
  line-height: 1.8;
}
footer .overlay .foot-about .list-unstyled li {
  display: inline-block;
  margin-right: 10px;
}
footer .overlay .foot-about .list-unstyled li a {
  color: #24c178;
  border: 1px solid #24c178;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border-radius: 50%;
}
footer .overlay .foot-quick ul li {
  margin-bottom: 20px;
}
footer .overlay .foot-quick ul li:before {
  content: "-";
  color: #24c178;
}
footer .overlay .foot-quick ul li a {
  color: #fff;
  margin-left: 10px;
}
footer .overlay .foot-news .media {
  overflow: hidden;
}
footer .overlay .foot-news .media img {
  margin-right: 1%;
  width: 40%;
}
footer .overlay .foot-news .media .media-body {
  margin-left: 10px;
}
footer .overlay .foot-news .media .media-body h5 {
  font-size: 14px;
  color: #999;
}
footer .overlay .foot-news .media .media-body p {
  color: #fff;
  font-size: 14px;
}
footer .overlay .foot-services ul {
  display: inline-block;
}
footer .overlay .foot-services ul li {
  margin-bottom: 20px;
}
footer .overlay .foot-services ul li:before {
  content: "-";
  color: #24c178;
}
footer .overlay .foot-services ul li a {
  color: #fff;
  margin-left: 10px;
}
footer .overlay .foot-services ul:first-of-type {
  float: right;
}
footer .overlay .foot-services form input {
  border: none;
  padding: 10px;
  font-size: 14px;
  background: #1b2223;
  color: #fff;
}
footer .overlay .foot-services form button {
  background-color: #24c178;
  border: 1px solid #1abc9c;
  color: #fff;
  padding: 8px 15px;
  margin-left: -5px;
  cursor: pointer;
}
footer .overlay .foot-services form ::placeholder {
  color: #fff;
}
@media (max-width: 767px) {
  footer .overlay .foot-news, footer .overlay .foot-quick, footer .overlay .foot-about {
    margin-bottom: 40px;
  }
  footer .overlay .foot-news .media {
    margin-bottom: 20px;
  }
}

/* End Footer Section */
/* Start Copyrights Section */
.Copyright {
  background: #013340;
  color: #fff;
  padding: 20px 0;
}
.Copyright .copy-links a {
  color: #fff;
}

/* End Copyrights Section */

/*# sourceMappingURL=style.css.map */
