/* Start Upper Navbar */
.upper {
    background-color:#2c3f5c;
    color:#fff;
    padding:15px 0 0;
    .contacts {
        .contact {
            display:inline-block;
            margin-right:5px;
            padding:0 8px;
            &:not(:last-of-type) {
                border-right:2px solid #fff;
            }
            color:#fff;
        }
        @media (max-width:767px) {
            .contact {
                margin-bottom: 10px;
                font-size: 13px
            }      
        }
    }
    .upper-social {
        text-align: right;
        li {
            display:inline-block;
            margin-left:10px;
            a {
                color:$sub-color;
                background-color:#fff;
                padding: 5px;
                border-radius: 50%;
            }
            a.fa-search {
                color:#fff;
                background:none;
            }
        }
    }
    @media (max-width:767px) {
        .upper-social {
            margin-top:10px;
            text-align: center;
        }      
    }
    form {
        width: 100%;
        margin: 0 20px;
        display: none;
        input {
            background: transparent;
            color: #fff;
            border: none;
            border-bottom: 1px solid #0d1928;
            margin-bottom: 10px;
            border-radius: 0;
        }
    }
}
/* End Upper Navbar */

/* Start Navbar Section */

.navbar {
    background: none;
    padding:0;
    .navbar-brand {
        color:$main-color;
        font-size: 40px;
        &:hover {
            color:$main-color;
        }
    }
    .nav-link {margin-right:10px;display: none;}
    .nav-link,.fa-bars  {
        color:#fff !important;
        font-size: 17px;
    }
    .fa-bars, .fa-times {
        cursor: pointer;
        font-size: 22px;
    }
    .navbar-collapse {
        justify-content: flex-end;
    }
    @media (max-width:767px) {
        .navbar-toggler-icon {
            color:#fff !important;
        }   
        .nav-link {
            display: block;
        }
        .fa-bars, .fa-times {
            display: none;
        }
    }
    @media (min-width:768px) and (max-width:991px) { 
        .nav-link {
            display: block;
        }
        .fa-bars, .fa-times {
            display: none;
        }
    }
}

/* End Navbar Section */